.background {
  background-image: url('https://img.freepik.com/premium-photo/beautiful-autumn-landscape-with-yellow-trees-sun_979520-6969.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh; 
  width: 100%; 
  padding-bottom: 2vh;
}

.main-container {
  background-color: #e0ca3c;
  color: #001514;
  margin: auto;
  margin-top: 2vh;
  border-radius: 5vh;
  padding: 2rem;
  width: 75%;
  text-align: center;
}

.title-container h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.a-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.game-link {
  text-decoration: none;
  color: #001514;
  text-align: center;
}

.game-icon {
  width: 50vh;
  height: auto;
  padding: 1vh;
}

.game-icon:hover{
  scale: 1.1;
  outline-style: groove;
  outline-color: #FC2F00;
}

.game-link h3 {
  margin-top: 1rem;
}


.tips-container {
  background-color: #e0ca3c;
  color: #001514;
  margin: auto;
  margin-top: 2vh;
  border-radius: 5vh;
  padding: 2rem;
  width: 60%;
  height: 60%;
}

il {
  font-size: larger;
}

.images {
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 30vh;
}

.a-container {
  width: 70%;
  margin: auto;
}

.battle-cats {
  width: 40%;
  padding: 2.5vw; 
}

.battle-cats:hover {
  scale: 1.1;
  outline-style: groove;
  outline-color: #FC2F00;
}

.footer-container {
  background-color: #001514;
  color: #e0ca3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: auto;
}

.footer-container p, 
.footer-container a {
  margin: 0;
  font-size: 1rem;
  color: #e0ca3c;
  text-decoration: none;
}
